body {
    background-image: url('/static/SKINS/main_menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    background-position: center;
}

.casino_btn{
    height: 200px;
    width: 200px;
}
#h1{
    font-size: 80px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 2px orange;
}
.buttons_container{
    width: 100%;
    position: fixed;
    bottom: 30px;
}
.buttons{
    margin: auto;
    width: 660px;
    text-align: center;
}

#btn1 {
    background-image: url('/static/SKINS/ruleta_icona.png');
    background-size: 100%;
}

#btn1:hover{
    background-image: url('/static/SKINS/ruleta_icona_hover.png');
    background-size: 100%;
}

#btn2 {
    background-image: url('/static/SKINS/dices_icona.png');
    background-size: 100%;
}

#btn2:hover{
    background-image: url('/static/SKINS/dices_icona_hover.png');
    background-size: 100%;
}

#btn3 {
    background-image: url('/static/SKINS/slots_icona.png');
    background-size: 100%;
}

#btn3:hover{
    background-image: url('/static/SKINS/slots_icona_hover.png');
    background-size: 100%;
}

.user_bar{
    position: fixed;
    background-color: rgba(50,195,50,0.85);
    width: 180px;
    height: 130px;
    bottom: 0;
    left: 0;
    border-top: 2px solid white;
    border-right: 2px solid white;
    display: block;
}
.user_bar_half{
    height: 20px;
    width: 180px;
    margin: 0;
}
.btn_user{
    width: 180px;
    height: 30px;
    background-color: rgba(0,0,0,0.3);
    border: none;
    color: white;
    font-size: medium;
    cursor: pointer;
}
.btn_user:hover{
    background-color: rgba(0,0,0,0.8);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: rgba(50,195,50,0.85);
  color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}