<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/aut.css">
    <title>Automat</title>
</head>
<body>
<div class="user_bar">
    <p class="user_bar_half">USER: {{ user }}</p>
    <p class="user_bar_half">BALANCE: {{ balance }}</p>
    <a href="/casino"><button class="btn_user">Back to menu</button></a>
    <a href="/"><button class="btn_user">Change user</button></a>
    <button class="btn_user" id="modal_btn">Help</button>
</div>
<div class="left_menu">
    <table class="table_left">
        <tr class="header">
            <th>Sign</th>
            <th>Win</th>
        </tr>
        {% for sign in signs %}
        <tr>
            <td class=""> {{ sign[0] }}</td>
            <td> {{ sign[1] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="Top">
    <h1 class="Nadpis">AUTOMAT</h1>
</div>
<div class="middle">
    <div class="Slots">
        {% for slot in Slots %}
            <img alt="Slot" class="slot" src={{ slot }} >
        {% endfor %}
    </div>
    <div class="middle_down">
        <form method="POST">
            <label>BET:</label>
            <input class="aut_bet" type="text" value="{{ bet }}" name="bet"><br>
            <input class="btn_play" type="submit" value="PLAY">
        </form>
    </div>
</div>

<!-- The Modal -->
<div id="modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">   
    <span class="close">&times;</span>
        <center><h1>HOW TO PLAY SLOTS</h1></center>

        <h2 style="padding-left: 30px;">SLOTS RULES</h2>

        <p>Slots really cannot be more easier. You simply select bet amount, and press play.</p>

        <p>Slot machine will spin and show 3 numbers next to each other.</p>

        <p>You win when those 3 numbers are the same.</p>

        <br>

        <h2 style="padding-left: 30px;">BET TYPES</h2>

        <p>At top left you can see how much you win with specific trio of numbers</p>

        <p>- <b>Numb 1</b> pays 20x bet&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;Win chance: 3%</p>
        <p>- <b>Numb 2</b> pays 40x bet&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;Win chance: 0.8%</p>
        <p>- <b>Numb 3</b> pays 80x bet&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;Win chance: 0.3375%</p>
      <p>- <b>Numb 4</b> pays 80x bet&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;Win chance: 0.3375%</p>
      <p>- <b>Numb 5</b> pays 150x bet&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;Win chance: 0.0125%</p>
      <p>- <b>Numb 6</b> pays 150x bet&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;Win chance: 0.0125%</p>
      <p>- <b>Numb 7</b> pays 300x bet&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;Win chance: 0.0027%</p>
      <p>- <b>Numb 8</b> pays 300x bet&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;Win chance: 0.0027%</p>
      <p>- <b>Numb 9</b> pays 800x bet&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;Win chance: 0.0008%</p>
      <p>- <b>Numb 0</b> pays 800x bet&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;Win chance: 0.0008%</p>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("modal");

// Get the button that opens the modal
var btn = document.getElementById("modal_btn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
