<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/cas.css">
    <title>Casino Royale</title>
</head>
<body>
<h1>CASINO ROYALE</h1>
<div class="buttons_container">
<div class="buttons">

    <a href=/casino/Ruleta><button id="btn1" class=casino_btn></button></a>
    <a href=/casino/Dice><button id="btn2" class=casino_btn></button></a>
    <a href=/casino/Automat><button id="btn3" class=casino_btn></button></a>
</div>
</div>

<div class="user_bar">
    <p class="user_bar_half">USER: {{ user }}</p>
    <p class="user_bar_half">BALANCE: {{ balance }}</p>
    <a href="/"><button class="btn_user">Back to menu</button></a>
    <a href="/"><button class="btn_user">Change user</button></a>

</div>
</body>
</html>
