<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/cas.css">
    <title>Casino Royale</title>
</head>
<body>
<h1 id="h1">CASINO ROYALE</h1>
<div class="buttons_container">
<div class="buttons">

    <a href=/casino/Ruleta><button id="btn1" class=casino_btn></button></a>
    <a href=/casino/Dice><button id="btn2" class=casino_btn></button></a>
    <a href=/casino/Automat><button id="btn3" class=casino_btn></button></a>
</div>
</div>

<div class="user_bar">
    <p class="user_bar_half">USER: {{ user }}</p>
    <p class="user_bar_half">BALANCE: {{ balance }}</p>
    <a href="/"><button class="btn_user">Change user</button></a>
    <button class="btn_user" id="modal_btn">Help</button>
</div>

<!-- The Modal -->
<div id="modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">   
    <span class="close">&times;</span>
    <center><h1>HOW TO PLAY AT CASINO ROYALE</h1></center>
        <br>
        <h2 style="padding-left: 30px;">USER MENU</h2>

        <p>At bottom left of your screen you can see your user menu.</p>

        <p>This menu contains:</p>

        <p>- Name of user, which is logged in<br>
        - Balance of user, which is logged in</p>

        <p>Button "Change user" brings you back to loggin screen, where you can change users.</p>

        <p>Button "Help" brings up popup, which shows you this help screen.</p>

        <br>
        <h2 style="padding-left: 30px;">GAMES</h2>

        <p>At the bottom of the screen are three games to choose from</p>

        <p>The game on the left is called <b>Roulette</b> and it is a classic European Roulette</p>
        <p>The middle game is called <b>Dice</b></p>
        <p>The game on the right is called <b>Slots</b></p>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("modal");

// Get the button that opens the modal
var btn = document.getElementById("modal_btn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</body>
</html>
