<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/lose.css">
    <link rel="icon" type="image/x-icon" href="static/SKINS/favicon.ico" />
    <title>You have LOST</title>
</head>
<body>
<div style="text-align: center; padding-top: 10%">
    <div style="background-color: pink; max-width: 500px; min-height: 450px; margin: auto;">
        <center><h1 class="upper_text" style="font-size: 50px;">You have just lost</h1></center>
        <center><strong class="upper_text" style="font-size: 30px;">Your account will be deleted</strong></center>
        <br>
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/e9b3fdce-7da1-4ee9-a836-47b97195018d/d8uq43y-6df1ceae-7051-4202-abc2-53cbc873f2df.png" width="250" height="300"><br><br>
        <a href="/"><button class="death_btn">Start a new game</button></a>
    </div>
</div>
</body>
</html>